.formulario{
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    background-color: white;
    flex-direction: column;
    font-size: 25pt;
}

.inputs{
    height: 40px;
    width: 50%;
}


